.mine {
  width: 90vw;
  margin: 0 auto;
  margin-top: 24px;
  padding-bottom: 24px;
}
.mine_date_start {
  display: flex;
  align-items: center;
  margin-top: -3px;
}

.mine_date_end {
  @extend .mine_date_start;
  margin-top: 0px;
}
.mine_search_button {
  width: 85vw;
  margin: 0 auto;
  margin-top: 32px;
  color: #fff;
  border: 1px solid #6190e8;
  background: #6190e8;
}
.mine_item_con {
  width: 85vw;
  margin: 0 auto;
  margin-top: 32px;
  background: #6190e8;
  opacity: 0.4;
  border-radius: 10px;
  padding: 10px;
}
.mine_item_text {
  color: #000000;
  font-size: 36px;
  font-weight: 700;
}
.mine_item_text_suc {
  @extend .mine_item_text;
  color: #389e0d;
}
.mine_item_text_warn {
  @extend .mine_item_text;
  color: #d48806;
}
.mine_item_text_alert {
  @extend .mine_item_text;
  color: #ff4d4f;
}
.mine_scroll {
  // height: 130vw;
  height: 180vw;
  margin-top: 10px;
}
.mine_item_con_flex {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
